meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title 全新世代BMW 1系列即將登場
meta(name='keywords', content='BMW , 汎德 , 1 Series , THE1 , 1系列,  有種不同 , THE 1 AND ONLY , M135i , 118i , xDrive , 運動版 , 豪華運動版 , 跑車座椅 , 虛擬座艙 , M Performance , Steptronic 運動化八速手自排 , 自動停車輔助 , 自動倒車輔助 , Comfort Access 免鑰匙 , 手機數位鑰匙 , 預約賞車, F40, F20, 二手, 中古')
meta(name='description', content='全新世代BMW 1系列，絕對熱血新動力！以新世代設計打造車身外觀至全數位虛擬座艙，渾身亮點，就是要你，有種不同！')
meta(property='og:title', content='全新世代BMW 1系列即將登場')
meta(property='og:description', content='全新世代BMW 1系列，絕對熱血新動力！以新世代設計打造車身外觀至全數位虛擬座艙，渾身亮點，就是要你，有種不同！')
meta(property='og:image', content='https://event.bmw.com.tw/campaign/2019/1-series/images/fb_share_01.jpg')
meta(property="og:image:width" content="1200")
meta(property="og:image:height" content="630")
meta(property="og:url" content="https://event.bmw.com.tw/campaign/2019/1-series/index.html")
meta(property='og:type', content='website')
link(rel='icon', type='image/x-icon', href='./images/favicon.ico')
// Global site tag (gtag.js) - Google Analytics
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-149926220-1')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-149926220-1');


// Facebook Pixel Code
script.
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '395569783958247');
  fbq('track', "PageView");
noscript
  img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=395569783958247&ev=PageView&noscript=1')
// End Facebook Pixel Code
// Global site tag (gtag.js) - AdWords: 795193043
script(async='', src='https://www.googletagmanager.com/gtag/js?id=AW-795193043')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-795193043');
script.
  function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
      'send_to': 'AW-795193043/IiGhCP_iy4YBENPdlvsC',
      'event_callback': callback
    });
    return false;
  }

// LINE Tag Base Code
// Do Not Modify
script.
  (function(g,d,o){
  g._ltq=g._ltq||[];g._lt=g._lt||function(){g._ltq.push(arguments)};
  var h=location.protocol==='https:'?'https://d.line-scdn.net':'http://d.line-cdn.net';
  var s=d.createElement('script');s.async=1;
  s.src=o||h+'/n/line_tag/public/release/v1/lt.js';
  var t=d.getElementsByTagName('script')[0];t.parentNode.insertBefore(s,t);
  })(window, document);
  _lt('init', {
  customerType: 'lap',
  tagId: 'f318243c-e326-4eae-ab95-2a016ce79687'
  });
  _lt('send', 'pv', ['f318243c-e326-4eae-ab95-2a016ce79687']);
noscript
  img(height='1', width='1', style='display:none', src='https://tr.line.me/tag.gif?c_t=lap&t_id=f318243c-e326-4eae-ab95-2a016ce79687&e=pv&noscript=1')
// End LINE Tag Base Code
// —TenMax Base Code --
script.
  !function(e,t,n,a,o,s,c){e.tpq||(o=e.tpq=function(){o.callMethod?o.callMethod.apply(o,arguments):o.queue.push(arguments)},o.queue=[],o.callMethods=[],s=t.createElement(n),c=t.getElementsByTagName(n)[0],s.async=!0,s.src=a,c.parentNode.insertBefore(s,c))}(window,document,"script","//t.tenmax.io/js/loader.js","tpq");
  tpq('init', '356463856083');
  tpq('track', 'PageView');
  tpq('trackCustom', 'retargeting', {"tag_id":"546095100346"});
// —End TenMax Base Code --

//  Start of global snippet: Please do not remove Place this snippet between the <head> and </head> tags on every page of your site.
// Global site tag (gtag.js) - Google Marketing Platform
script(async='', src='https://www.googletagmanager.com/gtag/js?id=DC-9210989')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'DC-9210989');
// End of global snippet: Please do not remove
// Event snippet for BMW_1-Series_RMKT_1016 on : Please do not remove.
    Place this snippet on pages with events you’re tracking.
    Creation date: 10/16/2019
script.
  gtag('event', 'conversion', {
  'allow_custom_scripts': true,
  'send_to': 'DC-9210989/invmedia/bmw_10+standard'
  });
noscript
  img(src='https://ad.doubleclick.net/ddm/activity/src=9210989;type=invmedia;cat=bmw_10;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;ord=1?', width='1', height='1', alt='')
// End of event snippet: Please do not remove

script(type='application/javascript').
  (function(w,d,t,r,u){w[u]=w[u]||[];w[u].push({'projectId':'10000','properties':{'pixelId':'10091768'}});
  var s=d.createElement(t);
  s.src=r;
  s.async=true;
  s.onload=s.onreadystatechange=function(){var y,rs=this.readyState,c=w[u];
  if(rs&&rs!="complete"&&rs!="loaded"){return}try{y=YAHOO.ywa.I13N.fireBeacon;
  w[u]=[];
  w[u].push=function(p){y([p])};
  y(c)}catch(e){}};
  var scr=d.getElementsByTagName(t)[0],par=scr.parentNode;
  par.insertBefore(s,scr)})(window,document,"script","https://s.yimg.com/wi/ytc.js","dotq");
